<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="libraryApp" ng-controller="LibraryController" ng-init="getBooks()">
    <div class="container">
        <h2>Library Management System</h2>
        
        <div class="input-group">
            <input type="text" ng-model="title" placeholder="Enter Book Title">
            <input type="text" ng-model="author" placeholder="Enter Author Name">
            <input type="text" ng-model="category" placeholder="Enter Category">
        </div>
        <button ng-click="addBook()">Add Book</button>

        <h3>Books List</h3>
        <ul class="book-list">
            <li ng-repeat="book in books">
                <span>{{ book.title }} by {{ book.author }}</span>
                <button class="delete-btn" ng-click="deleteBook(book.id)">Delete</button>
            </li>
        </ul>
    </div>

    <script src="app.js"></script>
</body>
</html>
